body {
  margin: 0;
  background-color: #282c34;
  color: white;
  font-family: sans-serif;
}

.conteudo-principal {
  margin-left: 200px;
  padding: 20px;
  padding-top: 0px;
  display: flex;
}

.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 80px 0 0 0;
}


.P-introduçao {
  width: 60%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.H1-intro {
  font-size: 2.5em;
  margin-bottom: 15px;
  color:#7bdeeb
}

.P-introduçao2 { 
  width: 60%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: -10px;
}

.H1-elemento-1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  color:#7bdeeb
}

.div-texto-rotativo {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vb;
  text-align: center;
  align-items: center;
}

.linha-texto-rotativo {
  display: flex;
  gap: 12px; /* espaço entre texto e animação */
  font-size: 2rem;
}

.texto-fixo {
  color: #7bdeeb;
  font-weight: 600;
}

.Caixinha-texto-rotativo {
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #20232a;
}