body {
  margin: 0;
  background-color: #282c34;
  color: white;
  font-family: sans-serif;
}

.conteudo-principal {
  margin-left: 200px;
  padding: 20px;
  padding-top: 0px;
  display: flex;
}

.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 80px 0 0 0;
  margin-left: -70px;

}

.P-introduçao {
  width: 60%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.H1-intro {
  font-size: 2.5em;
  margin-bottom: 15px;
  color:#7bdeeb
}

.P-introduçao2 { 
  width: 60%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: -10px;
}