.rotate-text {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.rotate-text.show {
  opacity: 1;
  transform: translateY(0);
}

.rotate-text.hide {
  opacity: 0;
  transform: translateY(-10px);
}
